/* CSS variables for easier theme switching */
:root {
  --background-color-light: #ffcfef; /* Light mode background color */
  --text-color-light: #000000; /* Light mode text color */
  --background-color-dark: #000000; /* Dark mode background color */
  --text-color-dark: #ffffff; /* Dark mode text color */
  --button-bg-color: #ffffff; /* Default button background color */
  --button-icon-color: black; /* Default button icon color */
  --container-background-light: #ffefef; /* Light mode container background */
  --container-background-dark: #333; /* Dark mode container background */
}

[data-theme="light"] body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

[data-theme="dark"] body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body {
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--background-color-light); /* Default to light mode */
  color: var(--text-color-light); /* Default to light mode */
  font-family: Georgia, serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(
    --container-background-light
  ); /* Default to light mode container background color */
  border-radius: 10px;
  font-family: Georgia, serif; /* Apply Georgia font to the container */
}

[data-theme="dark"] .container {
  background-color: var(
    --container-background-dark
  ); /* Dark mode container background color */
}

.task-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.task-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item span {
  flex-grow: 1;
}

.task-item .edit-button,
.task-item .delete-button {
  margin-left: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

button.add-task-button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-icon-color);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.add-task-button i {
  color: var(--button-icon-color);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input and button */
}

input[type="text"] {
  flex: 1; /* Allow the input to take up available space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
